*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.mtc1
*.mtc2
*.mtc3
*.mtc4
*.mtc5
*.mtc6
*.tcp
*.nlo
*.out
*.bak
*.snm
*.nav
*.tps
*.synctex
*.synctex.gz
*.toc
*.soc
*.idx
*.pdfsync
*~
Thumbs.db
*.sav
